{% load static %}

<html>

    <title> Campos </title>
     <header>
      <h1 style="color: aliceblue"> Aluguel de Campos </h1>
      <link rel="stylesheet" href="{% static 'css/styles.css' %}">
      <link rel="icon" href="/img/eele.png">
    </header>

    <body>

        <t1 class="ele"> Cidades</t1>
        <br>
        <br>
        <a href="http://127.0.0.1:8000/auth/campos/rio/"><button class="c1 rj"> Rio de Janeiro </button></a>
        <br>
        <br>
        <a href="http://127.0.0.1:8000/auth/campos/sp/"><button class="c1 sp"> São Paulo </button></a>
        <br>
        <br>
        <a href="http://127.0.0.1:8000/auth/campos/bp/"><button class="c1 bp"> Barra do Pirai </button></a>



    </body>
    
</html>

