header {
    text-align: center;
    background-color: #800000;
}

.t1 {
    color: aliceblue;
}

body {
     background-color: #FFDAB9;
}

.l1 {
    color: #A0522D;

}

.c1 {
    border: none;
    padding: 8px;
    background-color: rgb(128, 0, 0);
    outline: none;
    text-decoration: none;
    color:white ;
    cursor: pointer;
    transition: background ,1s;
    border-radius: 10px;
}

.c1:hover {
    background-color: rgb(255, 0, 0);
}

.c1:active {
    color: white;
    background-color: white;
}

.divdiva {
     
     color: #A0522D;
}